<div class= "container">
<h1>Stupid coaching</h1>
<div class= "border-grey">
  <p class= "first-question"><%= @question %></p>
  <p><i>- You</i></p>
</div>

<div class= "border-grey" id= "background-yellow">
<p class= "first-question"><%= @answer %></p>
<p><i>- Your coach<i></p>
</div>

<p id= "size-small"><%= link_to'ask a new question', ask_path%></p>
</div>>
